# SPDX-FileCopyrightText: © 2024 Romain Brault <mail@romainbrault.com>
#
# SPDX-License-Identifier: GPL-3.0-or-later

# For information about this file, see: https://editorconfig.org/
root = true

# For ease of fitting multiple editor panes side by side consistently, set all
# files types to use # the same relaxed max line length permitted in PEP 8.
[*]
max_line_length = 79
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,toml}]
indent_style = space
indent_size = 4

[*.yml,yaml,json]
indent_style = space
indent_size = 2
